body {
  background: linear-gradient(to right, #bac8cf, #80adbc, #e6f0f4);
}

#form input,select {

    margin-top: 10px ;
    display: block;
    width: 100;
    padding: 7px;
    border-radius: 15px;
    
 }

/* .logo{
    text-align:center;
    padding-top: 30px;
    
  } */

.img{
  display: flex;
  flex-direction: column;
  margin-top: 10px;

 
  align-items: center;
}
.img img{
  width: 100px;
}
  


#form label {
  margin-left: 10px; 
}

  .form{
    margin-top:20px;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px ;
  }
    
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
  }
  .container {
    width: 70%;
    height: 1200px;
    margin: auto;
    display: flex;
    
  }
  /* .top-circle {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    position:center;
    margin-top: 50px;
    transform: translateX(400%);
    background-color: rgb(18, 83, 188);
  } */
  .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .left-top {
    flex: 2;
    background-color:  #a2c5d0;
    border: 3px solid #333;
    border-radius: 15px;
  }
  .left-bottom {
    flex: 1;
    background-color: rgb(62, 106, 112);
    border: 2px solid #333;
    border-radius: 15px;
  }
  .right-section {
    width: 50%;
    flex: 1;
    background-color: rgb(112, 153, 171);
    border: 3px solid #333;
    border-radius: 15px;
}

.radio-options {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.input-control.checkbox-inline  {
  display: flex;
  align-items:center  ;
  }
  

.input-control input:focus {
  outline: 0;
}

.input-control.success input{
  border-color: rgb(10, 210, 17);
}


.input-control.error input {
  border-color: red;
}

.input-control .error {
  color: red;
  font-size: 9px;
  height: 13px;
}